<%- include('../partials/header') %>

<h1>ADD TICKET PAGE</h1>


  <form id="add-ticket-form" action="/flights/<%= flight %>/tickets" method="POST">
    <label>Seat:</label>
    <input type="text" name="seat">
    <label>Price:</label>
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">
  </form>
  
  <%- include('../partials/footer') %>