<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flight Express</h1>
    <h3>Fly with us</h3>

    <a href="/flights">View All Flights</a>
    <a href="/flights/new">Add New Flight</a>
  </body>
</html>
